	<div class="banner banner-purple myFont">
		Kristian's GA-WDI Project 1
		<span class="logout">
			<form method="post" action="/logout?_method=DELETE">
				<button type="submit">Logout</button>
			</form>
		</span>
	</div>