<head>
	<title>Socket.IO app</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/myStyle.css">
  <script src="/style/jquery/dist/jquery.min.js"></script>
  <script src="/style/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style/bootstrap/dist/css/bootstrap.min.css">
	<!-- <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script> -->
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/ticktack.js"></script>
	<script type="text/javascript" src="/static/js/signup.js"></script>	
</head>