<!DOCTYPE html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" type="text/css" href="/static/css/myStyle.css">
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
<!-- Chat window -->
	<div id="chat-section" class="chat">
<!-- Login bar over chat -->
		<div id="login-bar" class="">
			<form id="login-form" action="">
				<h3>Enter a name to join chat</h3>
				<div id="login-input">
					<input id="nickname" type="text" maxlength="16" placeholder="Enter your name" autocomplete="on">
					<button>Enter</button>
				</div>
			</form>
		</div>
<!-- Chat window including input field -->
		<ul id="message-list"></ul>
		<div id="chat-div" class="">
			<form id="message-form" action="">
				<input id="chat-message" autocomplete="off">
				<button>Send</button>
			</form>
		</div>
	</div>
<!-- End of chat -->

	<div id="color-box">Click to change the color</div>
	<a href="/ticktack">Play Tick Tack Toe</a>
	<form method="post" action="/logout?_method=DELETE">
		<button type="submit">Logout</button>
	</form>
</body>
</html>