<!DOCTYPE html>
<html>
<head>
	<title>Socket.IO app</title>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/myStyle.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ticktack.css">
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/ticktack.js"></script>
</head>
<body>
<!-- Chat window -->
	<div id="chat-section" class="chat">
<!-- Chat window including input field -->
		<ul id="message-list"></ul>
		<div id="chat-div" class="">
			<form id="message-form" action="">
				<input id="chat-message" autocomplete="off">
				<button>Send</button>
			</form>
		</div>
	</div>
<!-- End of chat -->
	<div id="ticktack-div">
		<h2>Tick Tack Toe</h2>
		<div id="gameboard">
			<div id="row1" class="row">
				<div id="r1c1" class="cell"></div>
				<div id="r1c2" class="cell"></div>
				<div id="r1c3" class="cell"></div>
			</div>
			<div id="row2" class="row">
				<div id="r2c1" class="cell"></div>
				<div id="r2c2" class="cell"></div>
				<div id="r2c3" class="cell"></div>
			</div>
			<div id="row3" class="row">		
				<div id="r3c1" class="cell"></div>
				<div id="r3c2" class="cell"></div>
				<div id="r3c3" class="cell"></div>			
			</div>
		</div>
		<div id="join-game"></div>
		<button id="create-game">Create Game</button>
	</div>
	<div id="color-box">Click to change the color</div>
	<!-- Logout button, hmtl delete request sent as post but overridden in the backend -->
	<form method="post" action="/logout?_method=DELETE">
		<button type="submit">Logout</button>
	</form>
	<div>
		<h2>Logged in users:</h2>
		<ul id="user-list"></ul>
	</div>
</body>
</html>