<!DOCTYPE html>
<html>
<% include head %>
<body>
<!-- Chat window -->
	<div id="chat-section" class="chat">
<!-- Chat window including input field -->
		<ul id="message-list"></ul>
		<div id="chat-div" class="">
			<form id="message-form" action="">
				<input id="chat-message" autocomplete="off">
				<button>Send</button>
			</form>
		</div>
	</div>
<!-- End of chat -->
	<div id ="stats">
		<div id="your-stats" class="stats">
			<h1 id="your-name"></h1>
			<p>Games Played: <span id="your-gamesPlayed"></span></p>
			<p>Win Ratio: <span id="your-winRatio"></span>%</p>
		</div>
		<div id="opponents-stats" class="stats">
			<h1 id="opponents-name">[Opponent]</h1>
			<p>Games Played: <span id="opponents-gamesPlayed"></span></p>
			<p>Win Ratio: <span id="opponents-winRatio"></span>%</p>
		</div>
	</div>
	<div id="ticktack-div">
		<h2>Tick Tack Toe</h2>
		<div id="gameboard">
			<div id="row1" class="row">
				<div id="r1c1" class="cell"></div>
				<div id="r1c2" class="cell"></div>
				<div id="r1c3" class="cell"></div>
			</div>
			<div id="row2" class="row">
				<div id="r2c1" class="cell"></div>
				<div id="r2c2" class="cell"></div>
				<div id="r2c3" class="cell"></div>
			</div>
			<div id="row3" class="row">		
				<div id="r3c1" class="cell"></div>
				<div id="r3c2" class="cell"></div>
				<div id="r3c3" class="cell"></div>			
			</div>
		</div>
		<div id="join-game"></div>
		<button id="create-game">Create Game</button>
	</div>
	<div id="color-box">Click to change the color</div>
	<!-- Logout button, hmtl delete request sent as post but overridden in the backend -->
	<form method="post" action="/logout?_method=DELETE">
		<button type="submit">Logout</button>
	</form>
	<div>
		<h2>Logged in users:</h2>
		<ul id="user-list"></ul>
	</div>

</body>
</html>