<html>
<head>
<% include head %>
<body>
	<% include banner %>
	<div class="container">
		<h1 class="myFont">Login to play game</h1>
		<br>
		<form id="login-form" method="POST" action="/login">
			<div>
				<input type="text" name="user[username]" placeholder="Enter your username" class="form-control">
			</div>
			<br>
			<div>
				<input type="password" name="user[password]" placeholder="Enter you password" class="form-control">
			</div>
			<button type="submit" class="btn-lg banner-purple create-btn">Login</button>
		</form>
		<a href="/signup" class="btn-lg banner-purple create-btn">Signup</a>
	</div>
</body>
</html>