<html>
<% include head %>
<body>
	<% include banner %>
	<div class="container">
		<h1 class="myFont">Signup to play</h1>
		<br>
		<form id="signup-form" method="POST" action="/signup">
			<div>
				<input id="username" type"text" name="user[username]" placeholder="Choose a Username" autocomplete="false" class="form-control">
			</div>
			<br>
			<div>
				<input id="password1" type="password" name="user[password]" placeholder="Create a password" autocomplete="false" class="form-control">
				<input id="password2" type="password" name="comparePassword" placeholder="Confirm your password" autocomplete="false" class="form-control">
			</div>
			<button class="btn-lg banner-purple create-btn">Signup</button>
		</form>
	</div>
</body>
</html>