<html>
<head>
	<title>Tick Tack Toe</title>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/ticktack.css">
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/static/js/ticktack.js"></script>
</head>
<body>
	<h2>Tick Tack Toe</h2>
	<div id="gameboard">
		<div id="row1" class="row">
			<div id="r1c1" class="cell"></div>
			<div id="r1c2" class="cell"></div>
			<div id="r1c3" class="cell"></div>
		</div>
		<div id="row2" class="row">
			<div id="r2c1" class="cell"></div>
			<div id="r2c2" class="cell"></div>
			<div id="r2c3" class="cell"></div>
		</div>
		<div id="row3" class="row">		
			<div id="r3c1" class="cell"></div>
			<div id="r3c2" class="cell"></div>
			<div id="r3c3" class="cell"></div>			
		</div>
	</div>
	<form method="get" action="/">
		<button type="submit">Back</button>
	</form>
</body>
</html>