
.myFont {
	font-family: 'Indie Flower', cursive;
}

.banner {
	margin-bottom: 25px;
	height: 80px;
	width: 100%;
	line-height: 60px;
	font-size: 40px;
	padding: 10px;
}

.banner-purple {
	color: white;
	text-align: center;
  background-image:
  linear-gradient(
    to bottom left, 
    black, purple
  );
}

.logout {
	float: right;
}
.logout button {
	background: none!important;
	border: none;
	color: white;
	font-family: arial;
	font-size: 16px;
	padding:0!important;
}
.create-btn {
	width: 200px;
	height: 70px;
	margin-top: 61px;
}

.join-btn {
	width: 200px;
	height: 34px;
	background: black;
	color: white;
	padding: 5px;
	border-radius: 4px;
	border: 2px solid purple;
}


#message-list {
	height: 482px;
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	overflow: auto;
}
#message-list li { 
	padding: 5px 10px; 
}
#message-list li:nth-child(odd) { 
	background: #eee; 
}

.game-title {
	text-align: center;
}

.game-bottom-margin {
	margin-bottom: 30px;
}

.game-row {
	height: 100px;
	width: 300px;
	margin: 0 auto;
}

.game-cell {
	float: left; /* display inline creates margins */
	background-color: #E0C57F;
	width: 33%;
	height: 100px;
	border: 1px solid black;
	border-radius: 6px;
	line-height: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 100px;
	font-family: 'Indie Flower', cursive;
}


#color-box {
	height: 20vh;
	color: red;
	background-color: purple;
	border-radius: 10px;
	margin-bottom: 20px;
}